// Contact section
.left-section-contact {
  @include header-left-section-common-style;
  background-color: $secondary-brand-color-dark;
  color: $basic-white;

  h1 {
    font-family: $font-family-secondary;
    font-size: 2.5em;
  }
}

.right-section-contact {
  @include header-right-image-section;
}

form {
  @include flex-center;
  flex-direction: column;
  max-width: 400px;
  background-color: $secondary-brand-color-dark;
  padding: 2em;

  h1 {
    font-family: $font-family-secondary;
    font-size: 2.5rem;
    color: $primary-brand-color-dark;
  }

  .form-group {
    width: 100%;
    margin-bottom: 1.5em;

    label {
      display: block;
      font-family: $font-family-primary;
      font-size: 1.2rem;
      color: $basic-white;
      margin-bottom: 0.5em;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 0.5em;
      font-family: $font-family-primary;
      font-size: 1rem;
      border: 1px solid $primary-brand-color-light;
    }

    textarea {
      height: 150px;
      resize: vertical;
    }

    button {
      width: 100%;
      padding: 0.75em;
      font-family: $font-family-primary;
      font-size: 1.2rem;
      color: $basic-white;
      background-color: $primary-brand-color-dark;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $primary-brand-color-light;
      }
    }
  }
}
