// header content
header {
  display: flex;
  margin-top: 1em;
  width: 100%;

  .left-section {
    @include header-left-section-common-style;
    background-color: $secondary-brand-color-dark;
    color: $basic-white;
    width: 50%;

    h1 {
      font-family: $font-family-secondary;
      font-size: 3em;
      margin-bottom: 0px;
    }

    p {
      font-family: $font-family-primary;
      font-size: 2rem;
    }

    a {
      width: fit-content;
      color: $basic-white;
      text-decoration: none;
      font-size: 2rem;
      font-weight: bold;
      border: 3px solid $basic-white;
      padding: 0.3em 0.7em;
    }
  }

  .right-section {
    @include header-right-image-section;
  }
}
