// Reviews section
.reviews-section {
  background-color: $primary-brand-color-dark;
  padding-bottom: 3em;

  h2 {
    color: $basic-white;
    font-family: $font-family-secondary;
    font-size: 2.5em;
    text-align: center;
    padding-top: 1em;
  }

  .reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    .review-card {
      color: $basic-black;
      padding: 1rem;
      border: 3px solid $basic-white;
      max-width: 38%;

      p {
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;

        .fa-quote-left {
          padding: 0 0.5em;
        }

        .fa-quote-right {
          padding-left: 3em;
        }
      }

      .review-footer {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 1.3em;
        }
      }
    }
  }
}
